#!/bin/bash
# Strip group/other write bits from ~/.oh-my-zsh so zsh's compaudit
# doesn't refuse to load completions. Needed on systems where the
# user's umask is 002 (e.g. Ubuntu user in the docker group), which
# otherwise causes chezmoi-managed externals to be created group-
# writable.

{{ if eq .chezmoi.os "linux" -}}
if [ -d "$HOME/.oh-my-zsh" ]; then
    chmod -R g-w,o-w "$HOME/.oh-my-zsh"
fi
{{ end -}}
