[push]
	default = matching
[credential]
    helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
[core]
	excludesfile = ~/.gitignore
	editor = vim
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"
# If you want to set up Kaleidoscope as the default merge tool,
# then also set the following variables:
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[user]
	name = Jinsuk
	email = totorovirus@gmail.com
