{{- $name := promptStringOnce . "name" "Git user name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "Git signing key (empty to skip)" "" -}}
{{- $installRust := promptBoolOnce . "installRust" "Install Rust (rustup)" -}}
{{- $installFoundry := promptBoolOnce . "installFoundry" "Install Foundry (foundryup)" -}}
{{- $installClaudeCode := promptBoolOnce . "installClaudeCode" "Install Claude Code" -}}
{{- $installAsdfPlugins := promptBoolOnce . "installAsdfPlugins" "Install asdf plugins (golang, python, nodejs)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
    installRust = {{ $installRust }}
    installFoundry = {{ $installFoundry }}
    installClaudeCode = {{ $installClaudeCode }}
    installAsdfPlugins = {{ $installAsdfPlugins }}

[git]
    autoCommit = true
    autoPush = false
