[submodule "dotbot"]
	path = tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "gef"]
	path = tools/gef
	url = https://github.com/hugsy/gef
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf
[submodule "tools/nvm"]
	path = tools/nvm
	url = https://github.com/creationix/nvm.git
