[submodule "dotbot"]
	path = tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-plugins/zsh-autosuggestions"]
	path = zsh/zsh-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "tools/dotbot-brew"]
	path = tools/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
